{
    "plugins": [
        [
            "transform-inline-environment-variables",
            {
                "include": [
                    "REACT_APP_GOOGLE_API_KEY"
                ]
            }
        ]
    ]
}